.homeCotainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-right: 10px;
}




/*NAVBAR*/
.header{
    /* position: fixed;
    top: 0;
    width: 150%; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;


}
.navBarContainer{
    border: 3px solid #FF0000;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    width: 80%;
}
    #homeBtn, #projectsBtn, #resumeBtn, #conactMeBtn{
        width: 20%;
    }
    .homeBtn{
        border: 3px solid #FF00C7;
    }
    .projectsBtn{
        border: 3px solid #CC00FF;
    }
    .resumeBtn{
        border: 3px solid #001AFF;
    }
    .conactMeBtn{
        border: 3px solid #00A3FF;
    }
    .colorChangeBtn{
        border: 3px solid #00F0FF;
    }



/*Page Content*/

.contentContainer{
    border: 3px solid #FF9900;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 5%;

  }

/*ABOUT*/
.aboutContainer{
border: 3px solid #DBFF00;
display: flex;
flex-direction: row;
margin-bottom: 5%;
}
    #meImage{
        border: 3px solid #0F6B00;
        width: 25%;
        border-radius: 150%;

    }
    .aboutText{
        border: 3px solid #FF9900;
    }
        .title{
            border: 3px solid #7F1BFF;
        }
        .meAbout{
            border: 3px solid #C0C300;
        }

/*EXPERIENCE*/
.experienceContainer{
border: 3px solid #00A3FF;
}
    .experienceTitle{
        border: 3px solid #FF00C7;
    }
    .experienceList{
        border: 3px solid #815500;
    }


/*Page Footer*/
.footerContainer{
    border: 3px solid #9C0000;
    position: fixed;
    bottom: 0;
    width: 150%;
}
    .githubBtn{
        border: 3px solid #000AFF;
    }
    .linkedinBtn{
        border: 3px solid #8204FF;
    }
    .instagramBtn{
        border: 3px solid #FF5C00;
    }
    .socials{
        width: 70%;
    }
