@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body{
    width: 100%;
    height: 100%;
    background: rgb(195,194,193);
    background: linear-gradient(0deg, rgba(195,194,193,1) 2%, rgba(231,231,231,1) 17%, rgba(252,252,252,1) 26%, rgba(255,255,255,1) 68%, rgba(195,194,193,1) 100%);
    font-family: 'Montserrat', sans-serif;

}


/*NAVBAR*/
.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width:95%;
}
.navBarContainer{
    display: flex;
    justify-content: space-around;
    width: 60vw;
    height: 5vh;
    margin-top: 1%;
}
    .navBtn{
        all:unset;
        font-family: 'Rajdhani', sans-serif;
        font-style: bold;
        letter-spacing: 1px;
        color: #090909;
        padding: 1%;
        font-size: 120%;
        border-radius: 0.5em;
        background: #e8e8e8;
        border: 2px solid #e8e8e8;
        transition: all .3s;
        box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
       }

    .navBtn:hover{
        border: 2px solid white;
    }  
    
    .navBtn:active {
        box-shadow: 4px 4px 12px #c5c5c5,
        4px -4px 12px #ffffff;
        letter-spacing: 4px;

       }


  
    #colorChangeBtn, #colorChangeDark{
        border:none;
        background-color:transparent;
        outline:none;
        margin-top: 1%;

    }
    .colorChnge{
        width: 80%;
    }

    .colorChnge:hover{
        opacity: 50%;
    }


/* CONTACT MODAL */
#contactModalContainer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);

    opacity: 0;
    pointer-events: none;

}

    #contactModalContainer.show{
        opacity: 1;
        pointer-events: auto;
    }

    .contactModal {
        background-color: rgb(143, 141, 141);
        border: 4px solid rgb(255, 255, 255);
        outline:4px solid rgb(0, 0, 0);
        padding:2%;
        margin: 50%;
        max-width: 150%;
        max-height: 150%;
        text-align: center;
        border-radius: 2%;
    }
    h3{
        font-size: 150%;
        text-decoration: underline;
    }
    ::-webkit-input-placeholder{
        font-size: 110%;
    }
    ::-moz-placeholder{
        font-size: 1%;
    }


    .form-control, #sumbitMessage, #closeContactModal{
        margin: 1%;
    }
    .form-control{
        width: 500px;
    }

    #sumbitMessage{
        display:flex;
        align-content: center;
        margin-bottom:6%;
        width:20%;
        display: inline-block;
        position: relative;
        padding: 10px 25px;
        background-color: #4CC713;
        color: white;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
        border: none;
        font-size: 110%;

    }
    #sumbitMessage:hover{
        background-color: #45a21a; 
    }

    #closeContactModal{
        font-size: 100%;
        background-color: black;
        color: white;
    }
    #closeContactModal:hover{
        background-color: rgb(69, 69, 69);
    }


/* RESUME MODAL */
#resumeModalContainer{
    all:unset;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(12.3px);
    overflow: hidden;
    backdrop-filter: blur(12.3px);
    
    opacity: 0;
    pointer-events: none;

}

    #resumeModalContainer.show{
        opacity: 1;
        pointer-events: auto;
    }

    .resumeModal {
        width: 100%;
        background-color: rgb(143, 141, 141);
        border: 4px solid rgb(255, 255, 255);
        outline:4px solid rgb(0, 0, 0);
        padding:3%;
        margin: 500%;
        text-align: center;
        border-radius: 3%;
    }

    .resumeTitle{
        font-size: 30px;
        width: 100%;
        text-decoration: underline;
        
    }
    .resumeText{
        width: 100%;
        font-size: 150%;
    
    }
    #resumeLink{
        all:unset;  
    }
    #resumeButton{
        margin-bottom:6%;
        font-size: 100%;
        width:100%;
        display: inline-block;
        position: relative;
        padding: 10px 25px;
        background-color: #4CC713;
        color: white;
        font-family: sans-serif;
        text-decoration: none;
        font-size: 0.9em;
        text-align: center;
        border: none;
    }

    #resumeButton:hover{
        background-color: #45a21a;
        color: white;
    }


    #closeResumeModal{
        font-size: 100%;
        background-color: black;
        color: white;

    }

    #closeResumeModal:hover{
        background-color: rgb(69, 69, 69);
    }

/*Page Content*/

.contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

/*ABOUT*/
.aboutContainer{
display: flex;
flex-direction: row;
margin-left: 5vw;
margin-right: 5vw;

}
    #meImage{
        border: 2px solid white;
        width: 150%;
        border-radius: 150%;
        margin: 10%;
        margin-top: 100%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        filter: grayscale(100%);
        transition: .3s ease-in-out;
    }

    #meImage:hover{
        filter: grayscale(0);
    }

    #meImage.show{
        filter: blur(12.3px);
        opacity: 0%;
    }


    .aboutText{
        margin-left: 10%;
        margin-right: 10% ;
        word-spacing: 5px;
        margin-top: 5%;
        padding: 2%;
        font-size: 100%;
        background-color: rgba(0, 0, 0, 0.161);
        border: 3px solid rgba(0, 0, 0, 0.428);
        border-radius: 10px;
    }
     #title{
            text-align: center;
            margin-bottom: 5%;
            letter-spacing: 5px;
            transition: .3s ease-in-out;
        }

    #title:hover{
        letter-spacing: 7px;
        color: rgb(169, 7, 7);
    }
        #meAbout{
            margin: 1%;
            font-size: 125%;
        }

/*EXPERIENCE*/
.experienceContainer{
    width: 95%;
    margin-left: 1%;
    background-color: rgba(0, 0, 0, 0.161);
    border: 3px solid rgba(0, 0, 0, 0.428);
    border-radius: 10px;
    margin-top: 3%;
}
    #experienceTitle{
        letter-spacing: 2px;
        margin-left: 2%;
        font-size: 150%;
        margin-right: 10%;
        text-decoration-line: underline;

    }

    #experienceTitle:hover{
        color: rgb(169, 7, 7);
    }

    #experienceList{
        margin-left: 2%;
        margin-right: 2%;
        word-spacing: 15px;
        font-size: 120%;
    }
/* PROJECTS */


.projectsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 9vh;
    margin-bottom: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
    border: solid 5px rgba(0, 0, 0, 0.378);
    outline:solid 5px rgba(0, 0, 0, 0.63);

}

    .Project{
        border-radius: 5px;
        padding: 5%;
        margin: 5%;
        -webkit-box-shadow: 2px 5px 16px 0px #0B325E, 9px 0px 16px 11px rgba(0,0,0,0.2); 
        box-shadow: 2px 5px 16px 0px #0B325E, 9px 0px 16px 11px rgba(0,0,0,0.2);

        
    }

    .projectsTitle{
        text-align: center;
        font-size: 150%;
    }

    .projectsText{
        text-align: center;
        word-spacing: 2px;
        font-size: 100%;
        padding:2%;
    }

    .projectsLanguages{
        text-align: center;
        word-spacing: 10px;
        font-size: 120%;
        font-weight: bold;
    }


    #webProject{
        width: 5%;
        margin: 1%;
        transition: .1s ease-in-out;
    }
    #gitProject{
        width: 4.5%;
        margin: 1%;
        transition: .1s ease-in-out;
    }


#gitProject:hover{
    opacity:50%;
    
}

#gitProjects:active{
    width: 2.6%; 
}

#webProject:hover{
    opacity:50%;
    
}

#webProject:active{
    width: 2.6%; 
}


    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 2%;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 18px;
        text-align: center;
      }
      
      .active, .collapsible:hover {
        background-color: #555;
      }

      .collapsible:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }

      .content{
         display:none; 
      }


/*Page Footer*/
#footerContainer{
    background-color: rgb(219, 216, 216);
    border-top: 5px solid rgb(255, 255, 255);
    outline: 3px solid rgb(93, 93, 93);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


#newfooterContainer{
    width: 12%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: -5%;
    display: flex;
    flex-direction: column;

}
#newfooterContainer.show{
    filter: blur(12.3px);
}
#footerContainer.show{
    filter: blur(12.3px);
}

    .socials {
        all:unset;
        margin: 0.5%;
        margin-left: 3%;
        padding: 1%;
        width: 2.5%;
        transition: .1s ease-in-out;
    }

    .socials:hover{
        opacity:50%;
        
    }

    .socials:active{
        width: 2.6%; 
    }


    .socialsNew{
        all:unset;
        margin: 5%;
        width: 20%;
    }

    @media all and (max-width: 1000px) {
        #title{
            font-size: 120%
        }
        .aboutContainer{
        margin-left: 0vw;
        margin-right: 5vw;
        margin-bottom: 1vh;
        }

        .aboutContainer{
            width: 100vw;
        }
        #meAbout{
            font-size: 100%;
        }
        #experienceTitle{
            font-size: 120%
        }
        .experienceContainer{
            margin-left: 0.5vw;
            margin-right: 0.5vw;
            margin-top: 3vh;
            margin-bottom: 10%;
            }
        #experienceList{
            margin: left;
            word-spacing: 5px;
            font-size: 90%;
            
        }
        .projectsLanguages{
            font-size: 100%;
        }

        .socials {
            width: 4%;
        }
        .socialsNew{
            width: 30%;
        }

        .header{
            width:90%;
        }

        .navBarContainer{
            width: 80vw;
        }

        .navBtn{
            font-size: 85%;
        }
    
        #webProject{
            width: 8%;
        }
        #gitProject{
            width: 7.5%;
        }


      @media all and (max-width: 500px) {

        #title{
            font-size: 90%
        }

        #meImage{
            width: 200%;
            margin-top:200%;
        }
        #meAbout{
            font-size: 70%;
        }          
        .experienceContainer{
            width: 95%;
            margin-left: 0.5%;
            margin-top: 5%;
        }
        #experienceTitle{
            font-size: 100%;
            letter-spacing: 0%;
        }
        #experienceList{
            font-size:70% ;
            margin: 1%;
        }

        .navBarContainer{
            width: 300vw;
        }

        .navBtn{
            font-size: 70%;
        }


      #sumbitMessage{
        font-size: 80%;
      }

      #webProject{
        width: 9%;
    }
    #gitProject{
        width: 8.5%;
    }

    .projectsTitle{
        font-size: 100%;
    }

    .projectsText{
        font-size: 80%;
    }

    .projectsLanguages{
        font-size: 80%;
    }
    .socials {
        width: 5%;
    }
    .colorChnge{
        width: 150%;
    }


    
    }
    }