.homeCotainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-right: 10px;
}




/*NAVBAR*/
.header{
    /* position: fixed;
    top: 0;
    width: 150%; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;


}
.navBarContainer{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    width: 80%;
}
    #homeBtn, #projectsBtn, #resumeBtn, #conactMeBtn{
        width: 18%;
        height: 50%;
        margin-top: 0%;
        margin-bottom:6%;
        font-size: 120%;

    }
  
    #colorChangeBtn{
        width: 10%;
    }
    .colorChnge{
        width: 50%;
    }

    #colorChnge img{
      all:unset;  
    }



/*Page Content*/

.contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-top: 2%;
  }

/*ABOUT*/
.aboutContainer{
display: flex;
flex-direction: row;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 1%;
}
    #meImage{
        width: 25%;
        height: 25%;
        border-radius: 150%;
        margin: 1%;
    }
    .aboutText{
        margin: 3%;
        word-spacing: 5px;
        font-size: 100%;
    }
     #title{
            text-align: center;
        }
        #meAbout{
            text-align: center;
            margin: 1%;
            font-size: 125%;
        }

/*EXPERIENCE*/
.experienceContainer{
margin: 3%;
}
    #experienceTitle{
        margin: 2%;
        font-size: 150%;
    }
    #experienceList{
        margin: left;
        margin: 1%;
        word-spacing: 25px;
        font-size: 130%;
    }


/*Page Footer*/
.footerContainer{
    bottom: 0;
    width: 100%;
}
    #githubBtn, #linkedinBtn, #instagramBtn{
        all:unset;
    }
    #githubBtn {
        margin: 1%;
    }
    #linkedinBtn{
        margin: 1%;
    }
    #instagramBtn{
        margin: 1%;
    }
    .socials{
        width: 110%;
        margin: 5%;
    }


    @media all and (max-width: 1000px) {
        .aboutContainer{
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: 1%;
        }

        #meImage{
            margin-top: 7%;
        }
        .aboutContainer{
            width: 100%;
        }
        #meAbout{
            font-size: 100%;
        }
        .experienceContainer{
            margin-left: 0.5%;
            margin-right: 0.5%;
            margin-top: 5%;;
            }
        #experienceList{
            margin: left;
            margin: 0.5%;
            word-spacing: 5px;
            font-size: 90%;
        }
        .footerContainer{
        margin-top: 100px;
        margin-bottom: 0px;
        }
        .socials{
            width: 80%;
        }
        #githubBtn {
            margin: 0.5%;
        }
        #linkedinBtn{
            margin: 0.5%;
        }
        #instagramBtn{
            margin: 0.5%;
        }
        #homeBtn, #projectsBtn, #resumeBtn, #conactMeBtn{
            font-size: 90%;
        }
      }

      @media all and (max-width: 500px) {
        #meImage{
            margin-top: 30%;
        }
        #title{
            font-size: 120%
        }
        #meAbout{
            font-size: 75%;
        }
        #experienceTitle{
            font-size: 120%;
            text-align: center;
        }
        #experienceList{
            font-size:90% ;
        }
        .footerContainer{
            margin-top:35%;
        }
        .colorChnge{
            width: 100%;
        }
        #homeBtn, #projectsBtn, #resumeBtn, #conactMeBtn{
            font-size: 70%;
        }
    
    }